body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f4f6f8;
    color: #333;
}

header {
    background-color: #fa8fdc;
    color: white;
    text-align: center;
    padding: 30px;
}

header img {
    width: 120px;
    border-radius: 50%;
}

section {
    padding: 30px;
    max-width: 900px;
    margin: auto;
}

h2 {
    color: #b40897;
}

.card, .project {
    background: white;
    padding: 20px;
    margin-bottom: 15px;
    border-radius: 8px;
}

a {
    color: #f175c6;
    text-decoration: none;
}

footer {
    text-align: center;
    padding: 15px;
    background: #ddd;
}

/* Responsive */
@media (max-width: 768px) {
    header h1 {
        font-size: 22px;
    }
}

@media (max-width: 576px) {
    section {
        padding: 15px;
    }
}
